

body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(58, 57, 57);
    font-family: 'Monserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0;    
}

.principal-container {
  width: 50%;
  height: 15rem;
  background-color: rgb(40, 150, 184);  
  margin: 0 20rem 0 20rem;  
}

.image {
  width: 25%;
  height: 100%;
}

.image img {
  width: auto;
  height: 15rem;
}

.principal-box {
  width: 100%;
  height: 15rem; 
  display: flex;
  flex-direction: row;  
}

.name {
  width: 75%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  margin-top: 85px;
  font-weight: normal;
}

.information-container {
  width: 50%;
  height: 46rem;
  display: flex;
  flex-direction: row;
  margin: 0 20rem 0 20rem;    
}

.contact-information {
  width: 27.8%;
  height: 100%;
  background-color: rgb(202, 235, 248);
}

.title-box {
  width: 92%;
  height: 20px;
  margin: 42px 7px 21px 7px;
}

.title {
  width:82%;
  height: 20px;
  font-size: 11px;
  font-weight: 800;
  text-align: left;
  margin: 30px 17px 17px 17px;
  border-bottom: solid 2px rgb(100, 105, 107);
}

.subtitle-box {
  width: 78%;
  height: 55px;
  margin: 30px 11px 10px 26px;
}

.subtitle {  
  font-size: 12px;
  font-weight: 800 ;
  text-align: left; 
}

span {
  font-size: 12px; }

a { font-size: 10px; }

.subtitle-languaje-box ul {
  width: 76%;
  list-style-type: none;
  padding-left: 26px;  
}

.percentage1 { margin-left: 45px; }

.percentage2 { margin-left: 62px; }

.experience-information {
  width: 73%;
  height: 100%;
  background-color: aliceblue;
}

.experience-title {
  width: 92.3%;
  font-size: 10px;
  font-weight: 800;
  text-align: left;
  margin: 40px 10px 10px 24px;
}

.experience-subtitle {
  width: 88.6%;
  font-size: 9px;
  font-weight: 800;
  text-align: left; 
  margin: 20px 22px 0px 26px;
}

.year {
  font-size: 10px;
  text-align: left;
  font-size: 10px;
  margin: 0 10px 2px 0;
}

.description-experience {
  font-size: 11px;
  text-align: justify;
  font-weight: normal;
  margin: 8px 10px 10px 0px;
}










